
.container{
  border: 1px soild black;
  height:86.5vh;
  /* margin:5vh; */
  position: absolute;
  top:10.3vh;
  overflow-y:scroll;
}
.inputSearch{
  font-style: bold;
  font-size: 20px;
  border: 1px solid white;
  width: 50vw;
  height:4.8vh;
}
.search{
  position: absolute;
  
  top:58px;
  left:20px;
}
.footer{
  width:100vw;
  position: absolute;
  bottom:0px;
}
.CardBody{
  position: absolute;
  margin: 1%;
  left: 78%;
  width:20vw;
  
}
.otherText{
  color:black;
}
.newText{
  color:black;
}
.CartText{
  font-size:30px;
  text-align: center;
}